.khd-accordion {
  box-sizing: border-box;
  margin: 0 auto; }
  .khd-accordion .khd-accordion__list {
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    margin: auto;
    list-style: none; }
  .khd-accordion__item {
    border: 1px solid #eee; }
  .khd-accordion__button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .khd-accordion__button--active {
      background-color: aliceblue; }
      .khd-accordion__button--active .khd-accordion__icon {
        transform: rotate(180deg); }
    .khd-accordion__button:hover {
      background-color: aqua; }
  .khd-accordion__image {
    width: 100%;
    aspect-ratio: 16/7; }
  .khd-accordion__icon {
    background-image: url(./expand_more.svg);
    height: 30px;
    width: 30px;
    background-size: contain;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .khd-accordion__title {
    font-size: 1.8rem;
    color: #000; }
  .khd-accordion__panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .khd-accordion__panel--active {
      display: block; }
