.khd-dropdown {
  position: relative;
  max-width: 300px;
  width: 100%;
  background-color: #efef;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; }
  .khd-dropdown:hover {
    overflow: visible; }
    .khd-dropdown:hover__caret {
      transform: rotate(180deg); }
    .khd-dropdown:hover__content {
      transform: translateY(0);
      opacity: 1; }
  .khd-dropdown__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px; }
  .khd-dropdown__title {
    color: #555;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase; }
  .khd-dropdown__caret {
    background-image: url(./expand_more.svg);
    height: 30px;
    width: 30px;
    background-size: contain;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .khd-dropdown__content {
    margin: 0;
    z-index: 1;
    width: 100%;
    display: grid;
    background-color: #efef;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-200%);
    position: absolute;
    opacity: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; }
  .khd-dropdown__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin: 0;
    overflow: hidden;
    list-style: none;
    padding: 10px 15px; }
    .khd-dropdown__list:not(.khd-dropdown__list:last-child) {
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px; }
    .khd-dropdown__list__link {
      text-decoration: none;
      color: #555;
      transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      display: block; }
      .khd-dropdown__list__link:hover {
        color: #000; }
